<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sterlingryan.dental_care">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        //Facebook Meta-Data
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".WizardCarerActivity"
            android:theme="@style/AppThemeNoActionBar"/>

        <activity
            android:name=".WizardBrushingActivity"
            android:theme="@style/AppThemeNoActionBar"/>

        <activity
            android:name=".WizardSmokingActivity"
            android:theme="@style/AppThemeNoActionBar"/>

        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppThemeNoActionBar" />

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
        android:name=".RegisterActivity"
        android:theme="@style/AppThemeNoActionBar" />

        <activity
            android:name=".Dashboard"
            android:theme="@style/AppThemeNoActionBar" />

        <activity
                android:name=".Smoking_Input"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".Smoking_Output"
            android:theme="@style/AppThemeNoActionBar" />

        <!-- Gabriel -->
        <activity
            android:name=".InformationPageActivity"
            android:label="@string/title_activity_information_page"
            android:parentActivityName=".InformationMenu"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sterlingryan.dental_care.InformationMenu" />
        </activity>
        <activity
            android:name=".VideoSection"
            android:label="@string/title_activity_video_section"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".VideoPage"
            android:label="@string/title_activity_video_page"
            android:parentActivityName=".VideoSection"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sterlingryan.dental_care.VideoSection" />
        </activity>

        <activity android:name=".InformationMenu"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".BrushYourTeeth"
            android:label="@string/title_activity_brush_your_teeth"
            android:parentActivityName=".Dashboard"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sterlingryan.dental_care.Dashboard" />
        </activity>

        <activity
            android:name=".AppointmentLogbook"
            android:label="@string/title_activity_appointment_logbook"
            android:parentActivityName=".Dashboard"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sterlingryan.dental_care.Dashboard" />
        </activity>

    </application>
</manifest>